body{
    font-family: "Figtree";
    height: 100%;
    width: 100%;
    min-height: 600px;
}
.bg-container{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 10px;
    padding: 15px;
    width: 76%;
    box-shadow: 8px 8px hsl(0, 0%, 7%);
}
.img{
    border-radius: 10px;
    width: 100%;
}
.learn-btn{
    border-width: 0;
    background-color: hsl(47, 88%, 63%);
    font-size: 15px;
    padding: 6px;
    border-radius: 7px;
    font-weight: 600;
    margin-top: 15px;
}
.publish-time{
    color: hsl(0, 0%, 50%);
    font-weight: 600;
}
.heading{
    color: hsl(0, 0%, 7%);
    font-size: 26px;
    font-weight: 900;
}
.heading:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.para{
    color: hsl(0, 0%, 50%);
}
.avatar-container{
    display: flex;
}
.avatar{
    height: 50px;
    padding: 10px;
}
.name{
    color: hsl(0, 0%, 7%);
    align-self: center;
    font-size: 16px;
    font-weight: 800;
}
@media (min-width: 768px) {
    .container{
        width: 336px;
    }
}